@import 'calcite-web.scss';
@import 'reset.scss';
@import 'mixin.scss';
@import 'btn.scss';
@import 'menu.scss';
@import 'aboutUS.scss';
@import 'index.scss';
@import 'news.scss';
@import 'work.scss';
@import 'issue.scss';
@import 'fireGeneration.scss';

.bgBlock {
    // box-shadow: 4px 5px 20px #6f6f6f78;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(208, 201, 192);
    // background:radial-gradient(circle at 50% 15%,rgba(255, 232, 190, 0.5),rgba(146, 143, 143, 0.5));
    z-index: 1;

    &.horizontal {
        top: auto;
        bottom: 0;
        width: 100%;
        height: 40%;
        z-index: -1;
    }
}

.character-01 {
    @include transition(all, 0.4s, ease, 0s);
    background: url(/images/free.png)no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-size: contain;
    position: relative;

    &:before {
        @include transition(all, 0.2s, ease, 0s);
        content: '';
        width: 100%;
        height: 0;
        background: radial-gradient(circle at 50% 15%, rgb(0, 231, 255), rgba(0, 0, 0, 0.58)), linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.04));
        display: block;
        position: relative;
        z-index: -1;
        opacity: 0;
    }

    &:hover {
        @extend.character-01 ;
        background: url("/images/free-hover.png") no-repeat;
        background-size: contain;

        &:before {
            content: '';
            opacity: 1;
            height: 100%;


        }
    }
}

// -----------temp-----------
* {
    font-family: 'Roboto', "Noto Sans TC";
    box-sizing: border-box;

    a {
        text-decoration: none;
    }
}

body {
    background:linear-gradient(149deg, #dddcdc, #e2e2e2 29%, #bbb1b1);
    position: relative;
    overflow: hidden;
}

footer,
header {
    width: 100%;
    position: fixed;
}

header {
    top: 0;
    z-index: 2000;

    .headerDiv {
        width: 100%;
    }

    div {
        float: left;
    }
    &.bright {
        .xLogo {
            @extend .xLogo;
            background: url(/images/X-logo-w.svg) no-repeat !important;
            background-size: contain !important;
            background-position: center !important;
        }

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background: #fff;
        }

        .btn.rightTop {
            [class*="icon-"] {
                color: #fff !important;

                &:hover {
                    color: $black !important;
                }
            }
        }
    }
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1900;
}
%footerLine{
    height: 1rem;
    position: fixed;
    width: 14rem;
    bottom: 0;
}
.footerDiv {
    position: fixed;
    // height: 10px;
    height: 4px;
    bottom: 0;
    left: 0;
    width: calc(100% - 290px);
    margin: 0 auto;
    right: 0;
    background: $black;

    &:before {
        content: '';
        background: url("/images/footer-line-l.svg") no-repeat center; 
        background-size: contain;
        @extend %footerLine;
        left: 8rem;
    }

    &:after {
        content: '';
        background: url("/images/footer-line-r.svg") no-repeat center;
        background-size: contain;
        @extend %footerLine;
        right: 8rem;
    }
}

// custom
.h100 {
    height: 100%;
}

.right {
    float: right;
}

.relative {
    position: relative;
}

.fixed{
    position: fixed;
}

.wrapper {
    @include transition(all, 0.4s, ease, 0s);
    height: 100vh;
    position: relative;
    overflow: hidden;

    &.bright {
        background: #000;
    }
}

// 內容-區塊
.contentDiv {
    height: 100%;
    padding-top: calc(0.5rem + 40px);
    padding-bottom: calc(0.5rem + 40px);
    position: relative;
    z-index: 999;
}

// 主要內容
.content {
    @extend .contentDiv;
    width: 100%;

    .overflowAuto-x {

        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            display: none
        }
    }



    .overflowAuto-y {
        overflow-x: hidden;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none
        }
    }

    .horizontalScroll {
        white-space: nowrap;
    }
}

// 十字框線
%crossDivLINE {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% + 40px);
    background: linear-gradient(rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.08));
    top: -40px;
}

//--------------------//
.crossDiv {
    position: fixed;
    top: 0;
    height: 100%;
    z-index: -1;

    div {
        height: 100%;
        padding-top: calc(0.5rem + 40px);
        padding-bottom: calc(0.5rem + 40px);
        position: relative;

        &:after {
            @extend %crossDivLINE;
            right: 0;
        }

        &:nth-child(1):before {
            @extend %crossDivLINE;
            left: 0;
        }
    }
}


// 瞄準鏡 圓圈

.circle-g {
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    // transform: scale(0.8);
    // width: 28%;
    margin: auto;
    transform: scale(0.7);
    width: 25%;
}

// 瞄準鏡 
.bottomSight,
.topSight {
    // width: 100%;
    // height: 40px;
    // position: fixed;
    // z-index: 900;
    width: 80%;
    margin: 0 10%;
    height: 40px;
    position: fixed;
    display: block;
    z-index: 1000;
}

$positon: 20%;
$sightPosition:-20px;

@mixin sight($coordinate:'', $top:auto, $bottom:auto) {
    content: $coordinate;
    bottom: $bottom;
    top: $top;
    height: 20px;
    width: 22%;
    background-size: 100%;
    position: absolute;
    mix-blend-mode: difference;
}

//-----------23.973875°N 120.982024°E--------//
.topSight {
    top: 0;

    &:after,
    &:before {
        @include sight($bottom: $sightPosition)
    }

    &:before {
        background: url("/images/topLeftSight.svg")no-repeat right top;
        left: $positon;
    }

    &:after {
        background: url("/images/topRightSight.svg")no-repeat left top;
        right: $positon;
    }
}

.bottomSight {
    bottom: 0;

    &:before,
    &:after {
        mix-blend-mode: difference;
        color: $gray;
        font-size: 0.5rem;
    }

    &:before {
        background: url("/images/bottomLeftSight.svg")no-repeat right bottom;
        left: $positon;
        @include sight($coordinate: '23.973875°N', $top: $sightPosition)
    }

    &:after {
        text-align: right;
        background: url("/images/bottomRightSight.svg")no-repeat left bottom;
        right: $positon;
        @include sight($coordinate: '120.982024°E', $top: $sightPosition)
    }
}

// 瞄準方框

.corner {
    width: 40px;
    height: 40px;
    position: absolute;
    border: 1px solid $lineColor;
}

.corner-top-left {
    border-bottom: none;
    border-right: none;
    top: 0;
    left: 0;
}

// 瞄準圈

.index-circle {
    background: url("/images/index-circle.svg") no-repeat center;
    background-size: contain;
    height: 80%;
    width: 80%;
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    margin: auto;

}
