@import 'mixin.scss';

// .workDiv {
//     background: rgba(0, 0, 0, 0.5);
//     // width: 18rem;
//     height: 200px;
//     display: inline-block;
//     position: relative;
//     float: none;
//     vertical-align: middle;
//     z-index: 200;
//     margin-right: calc(0.5rem - 4px);

//     &:first-child {
//         margin-left: 0.5rem;
//     }
// }



//workList 

.workList {
    width: 100%;

    &:hover {
        .workDiv {
            opacity: 0.2;

            &:hover {
                opacity: 1;
            }
        }
    }
}


.workDiv {
    @include transition(all, 0.6s, ease, 0s);
    width: 20rem;
    // background: rgba(0, 0, 0, 0.5);
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5rem;

    .info {
        white-space: normal;
        display: none;
        font-size: 0.8rem;
        color: $black;
    }

    &:hover {
        width: 40rem;
        margin-right: 50%;

        .workImg {
            display: inline-block;
        }

        .workContent {
            width: 50%;
            padding: 0 0.5rem;
            display: inline-block;

            .info {
                display: block;
            }
        }

    }
}

