@{
    ViewBag.Transition = TransitionType.NONE;
}

<!-- WORKS -->
<div class="h100 relative js-block-mousewheel" id="testBlock">
    <div class="now">Works</div>

    <div class="sign">
        <nav>
            <a class="prev" asp-controller="Blog">PREV</a>
            <a class="next" asp-controller="Issue">NEXT</a>
        </nav>
    </div>

    <div class="work-list">
        <div class="work-div"> 
            <a asp-controller="FireGeneration">
                <div class="work-img"><img src="~/images/concept.jpg"/></div>
                <div class="rectangle-title">title</div>
            </a>
        </div>
         <div class="work-div"> 
            <a asp-controller="FireGeneration">
                <div class="work-img"><img src="~/images/concept.jpg"/></div>
                <div class="rectangle-title">title</div>
            </a>
        </div>
         <div class="work-div"> 
            <a asp-controller="FireGeneration">
                <div class="work-img"><img src="~/images/concept.jpg"/></div>
                <div class="rectangle-title">title</div>
            </a>
        </div>
    </div>

    @*
    <!-- <div class="bgBlock horizontal"></div> -->
    <div class="work-list">
        <div class="work-div">
            <a asp-controller="FireGeneration" asp-action="Intro" style="display:block;">
                <div class="work-img"><img src="/images/concept.jpg" alt=""></div>
                <div class="rectangle-title">焰世代-1</div>
                <div class="work-info">
                    散落在世界的少年們自詡為"焰世代"，他們對抗的是以隱喻的方式呈現的現實中難解的矛盾，故事背景結合時事及議題並融合臺灣神話，藉議題不同立場來刻畫故事的衝突，由角色在衝突中展現勇氣與叛逆，帶給大眾正向的力量及對議題的反思。
                </div>
            </a>
        </div>
        <div class="work-div">
            <a asp-controller="FireGeneration" asp-action="Intro" style="display:block;">
                <div class="work-img">
                    <div class="no-data">No_Data</div>
                </div>
                <div class="rectangle-title">焰世代-1</div>
                <div class="work-info">
                    散落在世界的少年們自詡為"焰世代"，他們對抗的是以隱喻的方式呈現的現實中難解的矛盾，故事背景結合時事及議題並融合臺灣神話，藉議題不同立場來刻畫故事的衝突，由角色在衝突中展現勇氣與叛逆，帶給大眾正向的力量及對議題的反思。
                </div>
            </a>
        </div>
    </div>
    *@
</div>