@{
    ViewBag.Transition = TransitionType.EXPAND;
}

@* 焰世代 - 腳色介紹 *@
<div>
    <a asp-controller="FireGeneration" asp-action="Index" style="margin-top:100px;display:block;">返回</a>

    <partial name="@ViewBag.PartialPath">

    <partial name="_Navigation" />
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/FireGeneration/character.js"></script>
}