@{
    ViewBag.Transition = TransitionType.EXPAND;
}

@* 焰世代 - 腳色介紹 *@
<div class="grid-container h100">
    <a asp-controller="FireGeneration" asp-action="Index">返回</a>

    <partial name="@ViewBag.PartialPath">

    <partial name="_Navigation" />
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/FireGeneration/character.js"></script>
}