@{
    ViewBag.Transition = TransitionType.EXPAND;
}

@* 焰世代 - 季 *@
<div>
    <a asp-controller="FireGeneration" asp-action="Timeline">返回</a>

    <div>
        <div><img src=""/></div>

        <div>
            <div>00</div>
            <div>
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span class="node active" style="display:block;"></span>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3">
                            <div class="node-line"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="node"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>

                        <td colspan="4">
                            <div class="node-line"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="node"></div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">
                            <div class="node-line"></div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="node"></div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <div>
            <div>title</div>

            <div>
                <img />
                <div>chapter title</div>
                <p>chapter content</p>
            </div>

        </div>
    </div>

    <partial name="_Navigation" />
</div>