@{
ViewBag.Transition = TransitionType.EXPAND;
}
<!-- Issues -->
<div class="grid-container h100 relative overflowAuto-y">
    <!-- 導覽區 -->
    <div class="sign">
        <nav>
            <a class="prev" asp-controller="Home" asp-action="Works">PREV</a>
            <a class="next" href="#">NEXT</a>
        </nav>
        <div class="now">Issues</div>
    </div>

    <h2 class="theme">ISSUES</h2>

    <!-- 切換按鈕 -->
    <div>切換按鈕</div>

    <!-- 內容區塊 -->
    <div class="block-plain column-18 pre-6">
        <div class="block-group block-group-3-up">
            <!-- 單元區塊 -->
            <div class="issues-height block">
                <a class="issues-div" asp-controller="Home" asp-action="Issue" asp-route-id="1">
                    <div class="issues-img">
                        <img src="/images/issue-01.jpg">
                    </div>
                    <div class="issues-content">
                        <div class="rectangle-title light">TEST</div>
                        <div class="issue-date">
                            <div class="date">2018-12-16</div>
                        </div>
                    </div>
                </a>
            </div>
            <!--end -->
             <!-- 單元區塊 -->
            <div class="issues-height block">
                <a class="issues-div" asp-controller="Home" asp-action="Issue" asp-route-id="1">
                    <div class="issues-img">
                        <img src="/images/issue-01.jpg">
                    </div>
                    <div class="issues-content">
                        <div class="rectangle-title light">TEST</div>
                        <div class="issue-date">
                            <div class="date">2018-12-16</div>
                        </div>
                    </div>
                </a>
            </div>
            <!--end -->
             <!-- 單元區塊 -->
            <div class="issues-height block">
                <a class="issues-div" asp-controller="Home" asp-action="Issue" asp-route-id="1">
                    <div class="issues-img">
                        <img src="/images/issue-01.jpg">
                    </div>
                    <div class="issues-content">
                        <div class="rectangle-title light">TEST</div>
                        <div class="issue-date">
                            <div class="date">2018-12-16</div>
                        </div>
                    </div>
                </a>
            </div>
            <!--end -->
        </div>
    </div>