@{
    ViewBag.Transition = TransitionType.EXPAND;
}

<!-- Issues -->
<div class="grid-container h100 relative overflowAuto-y">
    <div class="now">Issues</div>

    <div class="sign">
        <nav>
            <a class="prev" asp-controller="Work">PREV</a>
            <a class="next" href="#">NEXT</a>
        </nav>
    </div>

    <div>切換按鈕</div>

    <div class="block-plain column-18 pre-6">
        @* Issue 單元 *@
        <div class="issues-div">
            <div>
                <img src="~/images/issue-01.jpg" />
            </div>

            <div>
                <div>title</div>

                <div>date</div>

                <div>content</div>

                <div>read more</div>
            </div>
        </div>
    </div>
</div>

@* 跳出視窗 *@
<div class="">

</div>

@section Scripts {
    @* 輪播套件 *@
    <script type="text/javascript" src="~/js/issue.js"></script>
}

@*
    <!-- 內容區塊 -->
    <div class="block-plain column-18 pre-6">
        <div class="block-group block-group-3-up">
            <!-- 單元區塊 -->
            <div class="issues-height block">
                <a class="issues-div" asp-controller="Home" asp-action="Issue" asp-route-id="1">
                    <div class="issues-img">
                        <img src="/images/issue-01.jpg">
                    </div>
                    <div class="issues-content">
                        <div class="rectangle-title light">TEST</div>
                        <div class="issue-date">
                            <div class="date">2018-12-16</div>
                        </div>
                    </div>
                </a>
            </div>
            <!--end -->

            <!-- 單元區塊 -->
            <div class="issues-height block">
                <a class="issues-div" asp-controller="Home" asp-action="Issue" asp-route-id="1">
                    <div class="issues-img">
                        <img src="/images/issue-01.jpg">
                    </div>
                    <div class="issues-content">
                        <div class="rectangle-title light">TEST</div>
                        <div class="issue-date">
                            <div class="date">2018-12-16</div>
                        </div>
                    </div>
                </a>
            </div>
            <!--end -->

            <!-- 單元區塊 -->
            <div class="issues-height block">
                <a class="issues-div" asp-controller="Home" asp-action="Issue" asp-route-id="1">
                    <div class="issues-img">
                        <img src="/images/issue-01.jpg">
                    </div>
                    <div class="issues-content">
                        <div class="rectangle-title light">TEST</div>
                        <div class="issue-date">
                            <div class="date">2018-12-16</div>
                        </div>
                    </div>
                </a>
            </div>
            <!--end -->
        </div>
    </div>
*@